::-webkit-scrollbar-track {
    background-color: #424242 ;
}
::-webkit-scrollbar {
    width: 4px;
    background: #d9534f;
}
::-webkit-scrollbar-thumb {
    background: #d9534f;
}

#dashboard{
    background: #757575;
    font-family: 'Trebuchet MS', 'Helvetica', sans-serif;
    height: 100%
}

#medias{
    height: 100%
}

#medias td{
    text-align: center;
    padding: 0%;
    margin: 0%
}

.infoMedia i{
    font-size: 35px
}

#logos-oferecimento, #logos-oferecimento h3{
 padding: 0%;
 margin: 0%
}

#logos-oferecimento h3{
    padding-top: 4%;
    padding-bottom: 10%;
    font-size: 35px
}

#logos-oferecimento img{
    align-items: center;
    text-align: center
}

#atc{
    height: 35px
}

#everynet{
    height: 40px;
    margin-left: 10%
}

#lora{
    height: 30px
}

#tctec{
    height: 25px
}

#bup{
    height: 25px
}

#openlabs{
    height: 40px;
    margin-top: -5px
}

.infoMedia span{
    font-size: 35px
}

#imagens{
    background: #fafafa;
    border-radius: 10px;
    margin: 0%;
    margin-left: 5%;
    margin-top: -2%;
}

.indiceMedia{
    font-size: 20px;
    margin-top: -12px
}

.logo{
    padding: auto;
    text-align: center;
    vertical-align: top;
}

.pessoa{
    width: 18%
}

.nome{
    margin-top: 15px
}

.sobrenome{
    line-height: 5px
}

.nome, .sobrenome{
    font-size: 22px;
}

.dado{
    width: 50%;
}

.dadoAlter{
    width: 50%;
    border-bottom: #d9534f solid 4px;
}

.dados{
    margin: 0%;
}

.index{
    margin: 0%;
    margin-left: 25px;
}

.index img{
    width: 10%
}

.lista{
    margin: 0%;
    padding: 0%;
    text-align: center;
}

.coluna{
    margin: 0%
}

.proximas{
    padding-left: 0
}

.indice{
    margin: 0%;
    padding: 0%;
}

.descricao{
    margin: 0%;
    padding: 0%;
    margin-top: -10px;
    font-size: 18px;
    text-align: center
}

.numero, .nome, .sobrenome{
    text-align: center
}

.header{
    background: #212121;
}

#All{
    height: 100%;
    position: absolute
}

#items{
    height: 30%;
    margin: 0%;
}

#graph{
    height: 70%;
    margin: 0%;
}

#cont-dash{
    height: 100%;
}

#map{
    height: 100%;
    width: 100%
}

#body-map{
    padding: 1%
}

#body-dash{
    overflow: auto;
    padding: 0%;
}

.bar{
    margin: 0%;
    padding:0;
    margin-top: 5px
}

.imagem{
    position: relative;
}

.colocacao{
    position: absolute;
    bottom: 2px;
    background: #d9534f;
    font-size: 15px
}

#tabela th{
    color:#fafafa;
    background: #424242 ;
}

#tabela img{
    height: 85px;
    width: 85px;
}

#tabela i{
    font-size: 200%
}

#tabela span{
    font-size: 220%;
}

#tabela b{
    font-size: 16px;
}


#tabela b, #tabela span{
    text-align: center;
    vertical-align: -10%;
}

#tabela, #tabela tr, #tabela td, #tabela img{
    color: #fafafa;
    padding: 0;
    margin: 0;
}

#card-twitter, #card-dash{
    color: #fafafa;
    
}

#card-twitter{
    height: 90%;
    margin-bottom: 0%;
    padding: 0
}

#card-dash{
    height: 95%;
}

#body-twitter{
    padding: 0%
}

#body-map, #body-twitter, #body-dash{
    background: #424242 
}