::-webkit-scrollbar-track {
    background-color: #F4F4F4;
}
::-webkit-scrollbar {
    width: 4px;
    background: #F4F4F4;
}
::-webkit-scrollbar-thumb {
    background: #dad7d7;
}

*{
	margin:0;
	padding:0;
}

#logo > img{
    position: absolute;
    width: 15%;
    margin-bottom: -12%;
    margin-top: 1%;
    margin-left: 1%;
    z-index: 2;
}

body {
    font-family: 'Trebuchet MS', 'Helvetica', sans-serif;
    background:#e2e2e2;
}

#container{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
}

#content, #estmapa{
    height: 100%;
    margin: 0;
    padding: 0;
}

#estmapa{
    height: 100%;
    margin: 0;
    padding: 0;
    z-index: 1;
}

#mapa, #title{
    margin: 0;
    padding: 0;
}

#title{
    padding-top: 5px
}

#conteudo1{
    height: 100%;
    width: 100%;
    position: absolute;
    height: 100%;
    z-index: 999;
    margin: 0%;
    padding: 0%;
    top: 0%;
    /* display: none; */
}

#conteudo2{
    height: 100%;
    width: 100%;
    position: absolute;
    height: 100%;
    z-index: 999;
    margin: 0%;
    padding: 0%;
    top: 0%;
    font-size: 18px;
    display: none;
}

#lateral1{
    height: 70%;
}

#lateral2{
    height: 100%;
}

#baixo{
    height: 30%;
}

#cartao-lateral{
    background: rgba(119, 119, 119, 0.8);
    height: 90%; margin-top: 5%;
}

#cartao-baixo{
    background: rgba(119, 119, 119, 0.8);
    height: 90%;
}

#twitter div, #info-competidores div{
    opacity: 1;
}

.carton{
    height: 100%
}

/* .info-competidor:hover{
    background: #ccc;
} */
