::-webkit-scrollbar-track {
    background-color: #F4F4F4;
}
::-webkit-scrollbar {
    width: 4px;
    background: #F4F4F4;
}
::-webkit-scrollbar-thumb {
    background: #dad7d7;
}

*{
	margin:0;
	padding:0;
}

#logo > img{
    position: absolute;
    width: 15%;
    top: 5px;
    right: 5px;
    z-index: 2;
}

body {
    font-family: 'Trebuchet MS', 'Helvetica', sans-serif;
    background:#e2e2e2;
}

#container{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
}

#content, #estmapa{
    height: 100%;
    margin: 0;
    padding: 0;
}

#estmapa{
    height: 100%;
    margin: 0;
    padding: 0;
    z-index: 1;
}

#mapa, #title{
    margin: 0;
    padding: 0;
    z-index: 1;
}

#title{
    padding-top: 5px
}

#conteudo{
    position: absolute;
    top: 0%;
    z-index: 10;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.fileira{
    width: 100%;
    position: absolute;
    bottom: 2%
}

#linha{
    margin: 0%;
    padding: 0%;
}

#img1, #img2, #img3, #img4, #img5{
    width: 80px;
    height: 80px;
    margin-top: -60px;
    margin-bottom: 5px;
}

#body1, #body2, #body3, #body4, #body5{
    padding: 4%;
    background-color: #eb0702
}

#head1, #head2, #head3, #head4, #head5{
    padding: 0%;
    background-color: #ba100b
} 

#expectador{
    position: absolute;
    z-index: 999;
    margin-top: 10%;
    margin-left: 4%;    
} 

#twitter div, #info-competidores div{
    opacity: 1;
}

.carton{
    height: 100%
}

/* .info-competidor:hover{
    background: #ccc;
} */
